<a href="https://colab.research.google.com/github/ShilpaPraveenShetty/Day-1-Session-1-Example-ProgramsFDP-Day-1/blob/master/day1_session2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. to print pattern
n=int(input("Enter n"))
for i in range(1,n+1):
  for j in range(i):
    print(i+j,end=" ")
  print("\n")

Enter n4
1

2 3

3 4 5

4 5 6 7

In [ ]:
#2. to print pattern
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *

In [ ]:
#3. to print pattern
n=5;
for i in range(1,n+1):
    for j in range(i):
        print (n+1-i+j, end="")
    print('')

5
45
345
2345
12345

In [ ]:
#4. to print pattern
n=5;
for i in range(0,n+1):
    for j in range(n-i):
        print (n-j, end="")
    print('')

54321
5432
543
54
5

In [ ]:
#5. to print patternn=4;
for i in range(1,n+1):
    for j in range(i,n+1):
        print (j, end=" #2. to print pattern")
    print('')
for i in range(1,n):
  for j in range(i+1):
    print(n-i+j,end=" ")
  print('')

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [ ]:
#6 no of characetrs
count=0
for i in s:
  count=count+1
print(count)

Enter a stringhi hello
8

In [ ]:
#7 number of words and characters
string=input("Enter a string")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter a stringhi hh
Number of words in the string:
2
Number of characters in the string:
5

In [ ]:
#8 nu m of occurences of a word
s=input("Enter a string")
w=input("Enter the word")
c=0
l=s.split()
for i in l:
  if w==i:
    c=c+1
print(c)

Enter a stringhi hi how hi
Enter the wordhi
3